################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ADO
/DCMS.WEBAPI-CardStament-Inquiry&Download-old/DCMS.WEBAPI-CardStament-Inquiry&Download
/.vs
/DCMS.WEBAPI-EP-Download&Request
/gitea
/In2NiagaAPI/Publish
/mos_doc_approval
/mos_ehakmilik_slip
/MQ
/MQ_Simulation/.vs
/MQ_Stress/.vs/MQ_Stress
/Music/porter-robinson-nurture-together-live
/newestDCMS
/offlineap
/offlineap/e_money_offline_API.zip
/Offlineapichanges
/offlinews
/PORTAL_STMT-develop/portal_stmt
/RESUBMIT_LOS_CLIENT/RESUBMIT_LOS_CLIENT
/DCMS.WEBAPI-CardStament-Inquiry&Download.zip
/PORTAL_STMT-develop.zip
/pushWPSAMP.html
/RESUBMIT_LOS_CLIENT.zip
/WS_MQ_MOS-master/ws_mq_mos
/DowJonesAPI/.vs
/DowJonesAPI/DowJonesAPI/bin
/DowJonesAPI/DowJonesAPI/obj
/DowJonesAPI/obj
/DowJonesAPI/bin/Debug/net6.0
/DowJonesAPI/bin/Release/net6.0
/DowJonesAPI/Properties/PublishProfiles/FolderProfile.pubxml
/DowJonesAPI/Properties/PublishProfiles/FolderProfile.pubxml.user
